/* width */
::-webkit-scrollbar {
  width: 0;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 0px;
}
